<div class="mt-4">
    <h3>Cập nhật khóa học</h3>

    <form class='mt-4' method="POST" action="/introduce/{{course._id}}?_method=PUT" >{{!-- truyền động và để biết chỉnh sửa nào và dùng put --}}
        <div class="form-group">
            <label for="name">Tên </label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name" >
        </div>

        <div class="form-group">
            <label for="descriptionn">Mô tả</label>
            <textarea class="form-control" id="description" name="descriptionn" >{{course.description}}</textarea>
        </div>

        <div class="form-group">
            <label for="video">Video Id</label>
            <input type="text" class="form-control" value="{{course.video}}" id="video" name="video" >
        </div>

        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level" >
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>

</div>